header {background-color: orangered;
        text-align: center;
        border: none;
        font-size: 450%;
        padding: 5px;
        border-image: none;
        text-decoration: underline;}
nav {background-color: #000000;
    color: orangered;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    font-size: 200%;}
nav a:link {color: orangered;
            text-decoration: none;}
nav a:visited {color: orangered;
                text-decoration: none;}
main {padding: 10px}
#wrapper {width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    min-width: 700px;}
footer {color: #FFFFFF;
    text-align: center;
    background-color: #000000;
    padding: 5px;}
footer a:link {color: orangered;}
footer a:visited {color: orangered;}
table {margin: auto;
    text-align: center;
    width: 600px;
    font-size: 125%;}
tr:nth-of-type(odd) {background-color: #878787;}
fieldset {width: 270px;}
label {text-align: right}
form {text-align: center;
    float: right;}
ul {list-style-type: none;}
li {display: inline-block;
    padding-bottom: 10px;
    width: 360px;
    margin: 10px;
    background-color: #eaeaea;
    text-align: center;
    font-family: Georgia, serif;}
body {margin: auto;
width: 80%;}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
header {text-align: center;}
form {float: center;}
 }

 @media only screen and (max-width: 768px) { 
header {text-align: center;}
table {width: 400px;
    font-size: 100%;}
li {display: inline-block;
    padding-bottom: 10px;
    width: 360px;
    margin: 10px;
    background-color: #eaeaea;
    text-align: center;
    font-family: Georgia, serif;}
form {float: center;}
 }